@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="card bg-dark rounded d-grid justify-content-center text-warning mt-5 p-4">Please check your email to reset your password!</h1>


