@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@*<style>
    input::placeholder {
        color: #ffc107 !important;
        /*font-style: italic;*/
    }
    ::placeholder {
        color: #ffc107;
        opacity: 1; /* Firefox */
    }

</style>*@
<div class="panel-styling">
    <div class="card-title d-flex justify-content-center mt-5" >
        <h2 class="mt-5">@ViewData["Title"]</h2>
    </div>
    <div class="card-body d-flex justify-content-center">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    @*<div class="text-danger" asp-validation-summary="All"></div>*@
                    <div class="form-group p-2">
                        <input asp-for="Input.Email" class="form-control input-field border border-success rounded-pill" placeholder="✉ Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <input asp-for="Input.Password" class="form-control input-field border border-success rounded-pill" placeholder="🔒 Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group px-2 mx-2">
                        <div class="checkbox d-flex">
                            <label class="me-auto" style="font-size: 1.3rem;" asp-for="Input.RememberMe">
                                <input  asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                                <a style="font-size: 1.3rem;" class="d-inline-block justify-content-end text-danger text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Forgot password!</a>
                        </div>
                    </div>
                    <div class="form-group row mx-2 py-3 mb-5">
                        <button type="submit" class="button table-button border-success btn-block rounded-pill">Log in</button>
                    </div>
                    @*<div class="form-group">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>*@
                </form>
            </section>
        </div>
   
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
