@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


<div class="panel-styling">
    <div class="card-title d-flex justify-content-center mt-5">
        <h2 class="mt-5">@ViewData["Title"]</h2>
    </div>
    <div class="card-body d-flex justify-content-center">
        <div class="col-md-4">
            <section>
                @{ 
                    if (User.Identity.IsAuthenticated)
                    {
                <form class="form-inline d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="button table-button border-success btn-block rounded-pill">Click here to Logout</button>
                </form>
                    }
                    else
                    {
                <p>You have successfully logged out of the application.</p>
                        }
                    }
            </section>
        </div>

    </div>
</div>