@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcApp2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
@@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
</style>
<body class="bg d-flex align-items-center justify-content-center">

    <div id="mySidenav" class="sidenav panel-styling">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="navbar navbar-expand-sm navbar-toggleable-sm" asp-area="" asp-controller="Home" asp-action="Index">'ntellio</a>
        <a class="navbar navbar-expand-sm navbar-toggleable-sm" asp-area="" asp-controller="Employee" asp-action="List">Employees</a>
        <a class="navbar navbar-expand-sm navbar-toggleable-sm" asp-area="" asp-controller="Movie" asp-action="List">Movies</a>
        <a class="navbar navbar-expand-sm navbar-toggleable-sm" asp-area="" asp-controller="Home" asp-action="Index">Webscraping</a>
        <a class="navbar navbar-expand-sm navbar-toggleable-sm" asp-area="" asp-controller="Home" asp-action="Index">Project</a>
        <partial name="_LoginPartial" />

    </div>
    <div class="container">
        <section id="menu-button-wrapper">
            <div id="menu-button" class="panel-styling menu-button" onclick="openNav()">&#9776;</div>
        </section>
            <main role="main" class="pb-3 px-5">
                @RenderBody()
            </main>
    </div>
    <div id="footer">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container">
                &copy;
                <script>document.write(new Date().getFullYear())</script> - 'ntellio - <a class="footer-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
            </div>
        }
        else
        {

            <div class="container">
                &copy;
                <script>document.write(new Date().getFullYear())</script> - 'ntellio - <a class="footer-link" asp-area="Identity" asp-page="/Account/Login">Login</a> -
                <a id="footer-link" class="footer-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        }
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "25rem";
            document.getElementById("menu-button").style.visibility = "hidden";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("menu-button").style.animationDelay = "0.5s";
            setTimeout(() => { document.getElementById("menu-button").style.visibility = "visible"; }, 250);
        }
    </script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
