/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-size: 62.5%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}*/


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/


body {
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
    color: rgba(9, 19, 60, 1);
    /*margin-bottom: 60px;*/
    height: 100vh;
 }



#footer {
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif !important;
    position: fixed;
    padding: 1rem 1rem 0rem 1rem;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: rgba(156, 187, 194, 0.9);
    font-size: 3rem;
    color: rgba(9, 19, 60, 1);
}
.footer-link {
    color: rgba(9, 19, 60, 1);
    text-decoration: none;
}

#content {
    padding-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 98vw;
    justify-self:center;
    align-self:center;
}


.bg {
    background: url("../Images/bg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    min-width: 98vw;
    justify-content: center;
}




.panel-styling {
    background-image: linear-gradient( to bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100% );
    backdrop-filter: blur(6px);
    border-radius: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset, rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;

}

.panel-dimentions {
    width: 35rem;
    min-height: 45rem;
    padding: 3rem;
    margin: 1rem;
}

.panel-alignemnt {
    position: relative;
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 3rem;
    font-weight: 1000;
    margin-top: 0;
    justify-self: center;
}

.card__text {
    font-size: 30px;
    line-height: 1.45;
    opacity: 0.8;
    margin-bottom: 2rem;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 2rem 4rem;
    background-image: linear-gradient( -45deg, rgba(9, 28, 60, 1) 0%, rgba(67, 46, 103, 1) 100% );
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    border-radius: 10em;
    color: white;
    justify-self: center;
}

    .button :hover {
        color:rgba(153,186,193, 1) !important;
    }

a.disabled {
    pointer-events: none;
    cursor: default;
    font-style: italic;
}
html, body {
    margin: 0;
    padding: 0;
}





/*Sidenav functionality*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 2.5rem;
        color: rgba(9, 19, 60, 1);
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color:rgba(156, 187, 194, 1);
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.menu-button {
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 3rem;
    cursor: pointer;
    height:5rem;
    width:5rem;
    margin-top:1rem;
    margin-left:1rem;
    z-index:3;
}

.card-body{
    font-size:15rem;
    display:flex;
    align-content:center;
}
.table {
    overflow: hidden;
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
    color: rgba(9, 19, 60, 1) !important;
}
.table-button {
    font-size: 1rem !important;
    padding: 1rem 2rem;
}

.input-field{
    font-size:1.8rem;
    padding:0.5rem;
    background-color:lightgrey;
}

.label{
    font-size:2.5rem;
}


/*to show tables coreectly in smaller screens*/
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

@media (max-width: 1478px) and (max-height: 1000px) {
    #content {
        padding-top: 30rem;
    }
}

@media only screen and (max-width: 912px) {
    .narrower-screen {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

@media (max-width: 739px) {
    #content {
        padding-top: 130rem;
    }
}

@media screen and (max-width: 595px){

    .menu-button {
        height: 4rem;
        width: 4rem;
    }
    #footer, .menu-button {
        font-size: 2.5rem;
    }
    #menu-button-wrapper {
        display: grid;
        grid-template-rows: 35px 1fr
    }
    .card-body {
        font-size: 10rem;
    }

    .table-button {
        font-size: 0.8rem !important;
        padding: 0.7rem 1.2rem;
    }

    .input-field {
        font-size: 1.3rem;
    }

    .label {
        font-size: 2rem;
    }
}
@media screen and (max-width: 395px) {

    .menu-button {
        height: 3.5rem;
        width: 3.5rem;
    }
    #footer, .menu-button {
        font-size: 2rem;
    }

    .card-body {
        font-size: 7rem;
    }

    .table-button {
        font-size: 0.5rem !important;
        padding: 0.4rem 0.9rem;
    }

    .input-field {
        font-size: 1rem;
    }

    .label {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 330px) {

    .menu-button {
        height: 3.2rem;
        width: 3.2rem;
    }
    #footer, .menu-button{
        font-size: 1.8rem;
    }

    .card-body {
        font-size: 5rem;
    }

    .table-button {
        font-size: 0.4rem !important;
        padding: 0.3rem 0.6rem;
    }

    .input-field {
        font-size: 0.8rem;
    }

    .label {
        font-size: 1.2rem;
    }
}