@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Kebabs are good</h1>
<img src="https://media.lrytas.lt/images/2018/09/27/101940414-75f5250d-7ad6-4448-be80-4b198de9310b.jpg" alt="Kebab">
